.rating{
  display: flex;
  align-items: center;
  margin: 0 1.2rem 0 0;

  .stars{
    margin-right: 1rem;
    background-image: url("../image/2f810a4.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    width: 9rem;
    height: 22px;

    &>div{
      height: 100%;
      background-image: url("../image/cd8b62a.png");
      background-repeat: no-repeat;
      background-size: auto 100%;
    }
  }
}

.spacing{
  margin: 50px 60px;
}

.button_icon {
  display: inline-flex;
  align-items: center;
}

.button .icon, a.button .icon {
  margin-right: 1rem;
}

.listing{
  margin: 5rem;
}

.listing_carousel {
  margin-right: 0;
  margin-left: 0;
  padding-left: 60px;
  display: grid;
  grid-gap: 15px;
}
