.wrapper {
  display: grid;
  grid-template: max-content 0.2fr/7em 1fr;
  grid-template-areas:
        "sidebar main"
        "sidebar footer";
}

aside {
  grid-area: sidebar;
}

footer{
  grid-area: footer;
}

main {
  grid-area: main;
  overflow-x: hidden;
}