.profile_wrapper {
  background-color: #2a2a2a;
  border-radius: 10px;
}

.title_chart{
  margin: 15px 0;
}

.profile {
  padding: 30px;
  width: 100%;

  &_content {
    display: grid;
    grid-template: 1fr/25% 1fr;
    grid-template-areas:
            "a ."
            "b c";


    &:not(:first-child) {
      margin-top: 50px;
    }
  }

  h2 {
    letter-spacing: 0.4px;
    font-size: 1.7rem;
    grid-area: a;
  }

  h5 {
    font-size: 17px;
    font-weight: 400;
    margin: 0 0 4px;
    padding: 0 0 2px;
  }

  &_stat {
    grid-template: 1fr/40% 1fr;
    grid-template-areas:
            "a ."
            "b c";
    column-gap: 25px;
  }

  &_left {
    display: flex;
    flex-direction: column;
    padding: 0 8px 8px 0;
    grid-area: b;
  }

  &_right {
    display: flex;
    grid-area: c;

    form {
      width: 100%;

      & *:required {
        background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/asterisk.svg);

        background-repeat: no-repeat;
        background-position: center right 12px;
        background-size: 15px 15px;
      }

      .info {
        display: flex;
        flex-direction: column;
        grid-gap: 35px;
      }

      .form {

        &_block {
          display: flex;
          width: 100%;
          justify-content: space-between;

          &:nth-of-type(2) .form_group {
            width: 48%;
          }
        }

        &_group {
          width: 30%;
        }
      }

      input, button[type=submit], select {
        width: 100%;
        line-height: 1.5;
        padding: 15px 10px;
        border: 1px solid #1a1a1a;
        background-color: #242424;
        transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25), transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
        color: white;
      }

      select option {
        border-radius: 0;
      }

      button[type=submit] {
        width: 30%;
      }

    }
  }

  .last_updates {
    margin-top: 18px;
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;

    .history {
      display: flex;
      justify-content: space-between;

      &_image {
        transition-duration: 0.3s;
        transition-property: all;
        transition-timing-function: ease-in-out;
        width: 60px;
        display: flex;
        justify-content: center;
        //border: 1px solid #424242;
      }

    }

    &_item {
      display: flex;
      grid-gap: 20px;

      &__data {
        width: 100%;

        .graph_content {
          display: grid;
          grid-template: 1fr/1fr 30%;
          justify-content: space-between;
          align-items: center;
          grid-gap: 25px;

          .graph {
            background-color: #f8f8f8;
            display: flex;
            height: 13px;
            align-items: center;
            width: 350px;

            .graph_inner {
              display: inline-block;
              height: 13px;
              width: 0;
            }

            .graph_inner.watching {
              background-color: #2db039;
            }

            .graph_inner.completed {
              background-color: #26448f;
            }

            .graph_inner.on_hold {
              background-color: #f9d457;
            }

            .graph_inner.dropped {
              background-color: #a12f31;
            }

            .graph_inner.plan_to_watch {
              background-color: #8424a7;
            }
          }

        }

        .condition{
          font-weight: 600;
        }

        .condition .watching {
          color: #2db039;
        }

        .condition .completed {
          color: #3a6ff3;
        }

        .condition .on_hold {
          color: #f9d457;
        }

        .condition .dropped {
          color: #a12f31;
        }

        .condition .plan_to_watch {
          color: #8424a7;
        }
      }
    }
  }

}

.user {
  &_img {
    display: block;
    text-align: center;

    .img_container{
      width: 100%;
      padding-right: 20px;


      img{
        width: 100%;
        height: 100%;
        border: 1px solid #000;
      }
    }

    .add_picture {
      background-color: #c4c4c4;
      border-radius: 2px;
      color: #787878 !important;
      display: table-cell;
      height: 225px;
      position: relative;
      text-align: center;
      text-decoration: none;
      -webkit-transition-duration: .3s;
      transition-duration: .3s;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-timing-function: ease-in-out;
      transition-timing-function: ease-in-out;
      vertical-align: middle;
      width: 240px;
      cursor: pointer;
    }

    .add_picture:hover > .plus_circle, .add_picture:hover > .add_camera, .add_picture:hover > .text {
      fill: #1c439b;
      color: #1c439b !important;
      text-decoration: none !important;
    }

    .plus_circle {
      background-color: #c4c4c4;
      border-radius: 50%;
      padding-left: 2px;
      position: absolute;
      right: 79px;
      top: 79px;
    }

    .text {
      font-family: Avenir, lucida grande, tahoma, verdana, arial, sans-serif;
      font-size: 14px;
      font-weight: 700;
      text-decoration: none;
    }
  }

  &_status {

    .clearfix {
      display: flex;
      justify-content: space-between;
      padding: 4px;
      transition-duration: 0.3s;
      transition-property: all;
      transition-timing-function: ease-in-out;
      width: 240px;
    }

    &_title {
      font-weight: 700 !important;
      float: left !important;
    }

    &_data {
      max-width: 216px;
      word-wrap: break-word;
    }

    &_data.online {
      color: #56db3a;
      font-weight: 700;
    }
  }


  &_statistics {
    margin-top: 18px;
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;

    .stat_score {
      display: flex;
      justify-content: space-between;

      &__mean .score_label, &__days .score_label {
        font-weight: 700 !important;
      }
    }

    .stats_graph {
      background-color: #f8f8f8;
      border-radius: 2px;
      display: block;
      height: 18px;
      margin: 0 auto;
      overflow: hidden;
      width: 100%;

      .graph {
        display: inline-block;
        height: 18px;
      }

      .graph.watching {
        background-color: #2db039;
      }

      .graph.completed {
        background-color: #26448f;
      }

      .graph.on_hold {
        background-color: #f9d457;
      }

      .graph.dropped {
        background-color: #a12f31;
      }

      .graph.plan_to_watch {
        background-color: #8424a7;
      }
    }

    .stat_catalog {
      margin-left: 21px !important;
      margin-top: 12px !important;
      display: flex;
      justify-content: space-between;

      .stats_status {
        margin: 0;
        padding: 0;
        width: 40%;

        .circle {
          position: relative;
          text-indent: 24px;

          &:after {
            border-radius: 1em;
            content: '';
            display: block;
            height: 12px;
            left: -20px;
            margin-top: -6px;
            position: absolute;
            top: 50%;
            width: 12px;
          }

          &.watching:after {
            background-color: #2db039;
          }

          &.completed:after {
            background-color: #26448f;
          }

          &.on_hold:after {
            background-color: #f9d457;
          }

          &.dropped:after {
            background-color: #a12f31;
          }

          &.plan_to_watch:after {
            background-color: #8424a7;
          }
        }
      }

      .stats_data {
        margin: 0;
        padding: 0;
        width: 40%;
      }

      li {
        margin-bottom: 12px !important;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
          line-height: 1em !important;
        }

        a:visited {
          text-decoration: none;
        }
      }
    }
  }
}

div.errors {
  color: #ff0000;
  font-size: 15px;
  &.full {
    padding: 10px 0 0 20px;
  }
}