.user_status_block {
  color: #323232 !important;
  grid-gap: 20px;
  flex-direction: column;
  display: grid;
  grid-template: 1fr/ 1fr 1fr;
}

.on {
  position: relative;

  &::before{
    background-color: rgba(19,19,19, 0.9);
    left: 0;
    margin-left: 0;
    width: 100%;
    background-image: url(https://cdn.myanimelist.net/images/xmlhttp-loader.gif?v=1634263200);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
  }
}

.on .user_status_add_list{
  background-color: rgba(79,116,200, 0.5);
  border: #162a58 1px solid;
  color: #ddd6d6 !important;
}

.user_status_add_list{
  background-color: #4f74c8;
  border: #4f74c8 1px solid;
  border-radius: 4px;
  color: #fff!important;
  cursor: pointer;
  display: inline-block;
  font-family: Avenir,lucida grande,tahoma,verdana,arial,sans-serif;
  font-size: 11px;
  line-height: 1.0em;
  opacity: 1;
  padding: 6px 12px 6px 24px;
  position: relative;
  text-align: left;
  text-decoration: none!important;
  transition-duration: .3s;
  transition-property: all;
  transition-timing-function: ease-in-out;
  vertical-align: middle;

  &:hover{
    background-color: rgba(79,116,200,.8);
    color: #fff;
  }
}

.user_stat_line {
  display: flex;
  grid-gap: 10px;
  justify-content: space-between;
}

.form_user_status {
  appearance: none;
  background-image: url("https://cdn.myanimelist.net/images/icon-triangles-select.png?v=1634263200");
  background-position: 110px 8px;
  background-repeat: no-repeat;
  background-size: 10px auto;
  border: #4f74c8 2px solid;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-family: Avenir, lucida grande, tahoma, verdana, arial, sans-serif;
  font-size: 11px;
  opacity: 1;
  padding: 4px 8px;
  text-align: left;
  text-decoration: none;
  transition-duration: .3s;
  transition-property: all;
  transition-timing-function: ease-in-out;
  vertical-align: middle;
  color: #fff;
  background-color: #202124;
}

.status_watching{
  background-image: url("https://cdn.myanimelist.net/images/icon-triangles-watching.png?v=1634263200");
  border: #2db039 1px solid;
  color: #2db039;
}

.status_completed{
  background-image: url("https://cdn.myanimelist.net/images/icon-triangles-completed.png?v=1634263200");
  border: #26448f 1px solid;
  color: #26448f;
}

.status_on_hold{
  background-image: url("https://cdn.myanimelist.net/images/icon-triangles-hold.png?v=1634263200");
  border: #e7b715 1px solid;
  color: #e7b715;
}

.status_dropped{
  background-image: url("https://cdn.myanimelist.net/images/icon-triangles-dropped.png?v=1634263200");
  border: #a12f31 1px solid;
  color: #a12f31;
}

.status_platWatch{
  background-image: url("https://cdn.myanimelist.net/images/icon-triangles-planto.png?v=1634263200");
  border: #8424a7 1px solid;
  color: #8424a7;
}


.form_user_score {
  appearance: none;
  background-image: url("https://cdn.myanimelist.net/images/icon-triangles-blue.png?v=1634263200");
  background-position: 110px 8px;
  background-repeat: no-repeat;
  background-size: 10px auto;
  border: #bebebe 1px solid;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-family: Avenir, lucida grande, tahoma, verdana, arial, sans-serif;
  font-size: 12px;
  opacity: 1;
  padding: 4px 8px;
  text-align: left;
  text-decoration: none;
  transition-duration: .3s;
  transition-property: all;
  transition-timing-function: ease-in-out;
  vertical-align: middle;
  color: #fff;
  background-color: #202124;
}

.form_user_episode {
  border: #bebebe 1px solid;
  border-radius: 4px;
  font-family: Avenir, lucida grande, tahoma, verdana, arial, sans-serif;
  font-size: 12px;
  padding: 3px 8px;
  text-align: left;
  text-decoration: none;
  vertical-align: middle;
  display: flex;
  color: #fff;
  background-color: #202124;

  &__input {
    border-bottom: 1px solid #343738;
    color: #2e51a2;
    display: inline-block;
    font-family: Avenir, lucida grande, tahoma, verdana, arial, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: right;
    text-decoration: none;
    width: 100%;
    background-color: #202124;

  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }
}