.head{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  .count{
    color: #80868b;
    letter-spacing: .4px;
    font-size: 1.2rem;
  }
}

.items{
  display: grid;
  grid-template: 1fr/1fr 1fr 1fr;
  margin-right: -0.4rem;
  margin-left: -0.4rem;
}