.headDropdown {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;

  select {
    padding: 15px 30px 15px 15px;
    font-size: 16px;
    color: #fff;
    background: #202124 url("../../image/Без названия.svg") no-repeat 100% 45%;
    background-size: 30px 60px;
    border-color: #202124;
    appearance: none;
    border-radius: 0;
    margin-right: 1rem;
  }

  &__count {
    font-size: 16px;
    color: #80868b;
    letter-spacing: .4px;
  }
}

.items__Video {
  display: grid;
  grid-template: 1fr/1fr 1fr 1fr;
  margin-right: -1rem;
  margin-left: -1rem;
  grid-gap: 20px;

}